@{
    ViewData["Title"] = "Index";
}

<h2>IEX Trading Application</h2>
<hr />

<div>
 
	<p>
	Of the strategies mentioned in American Association, we have used 52-week Price range strategy. We have measured price momentum to consider the proximity of a stock to its 52-week high or low. The formula we have used is current price minus 52-week low divided by 52-week high minus 52-week low. Using this strategy, we wrote code to pick the best 5 stocks from the total. We have displayed the stock even if the stock firm doesn’t have a company name.
</p>
<p>
Self- reflection (Sachin) <br>
1.	I have learned what is MVC core and how the data can be accessed across different architecture. <br>
2.	I have also read the Trading developer API documentation to understand about the data and its types. <br>
</p>
<p>
Self-reflection (Praveen)<br>
1.	I found this assignment very useful and helpful in understanding the MVC framework. <br>
2.	I am much comfortable with Git than before.<br>
3.	I learned how the communication worked across the MVC architecture. <br>
</p>
</div>